html, body, #root {
  height: 100%;
}

body {
  background-color: #001B3A;
  color: #f1f1f1;
}

.App {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: #00224B;
  margin: 50px 16px 75px;
}

.content {
  margin: 50px 25px 75px;
}

.sidebar a {
  color: #f1f1f1;
  padding: 25px;
  text-decoration: none;
}

.pad-top-bottom {
  display: flex;
  flex-direction: column;
  padding: 150px 50px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.column1 {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.column1 > * {
  flex-grow: 1;
  width: 30%;
  height: 300px;
}

.card {
  background-color: #00224B;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card-title {
  padding: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-child-content {
  padding: 10px;
}

.big-card {
  background-color: #00224B;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  height: 420px;
}

.card-sub-content {
  margin: 50px;
  background: grey;
  height: 200px;
}

@media only screen and (min-width: 1300px) {
  .column1 {
    width: 1000px;
  }
}

@media only screen and (min-width: 1400px) {
  .column1 {
    width: 1200px;
  }
}

@media only screen and (min-width: 1500px) {
  .column1 {
    width: 1300px;
  }
}

@media only screen and (min-width: 1600px) {
  .column1 {
    width: 1400px;
  }
  .column1 > * {
    height: 400px;
  }
  .big-card {
    height: 500px;
  }
}